---
import { Icon } from 'astro-icon';
---

<section class='dark:text-white text-black body-font'>
  <div class='container px-5 mx-auto'>
    <h2
      class='sm:text-3xl text-2xl font-medium title-font text-center dark:text-white text-purple-500 mb-5'
    >
      Conhecimentos
    </h2>

    <div class='grid grid-cols-1 md:grid-cols-3 gap-2'>
      <div class='dark:bg-white bg-purple-500 rounded p-4 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Backend</h3>
        <p>
          <Icon name='logos:nodejs-icon' class='h-6 w-6 inline'/> NodeJS - Express, Fastify e NestJS
        </p>
        <p>
          <Icon name='logos:python' class='h-6 w-6 inline' />
          Python - Flask
        </p>
        <p>
          <Icon name='logos:go' class='h-6 w-6 inline' />
          Go - Gin e http
        </p>
      </div>

      <div class=' rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Frontend</h3>
        <p>
          <Icon name='logos:react' class='h-6 w-6 inline mr-2' />React - Redux, Context</p>
        <p> <Icon name='logos:angular-icon' class='h-6 w-6 inline mr-2'/>Angular - RxJS</p>
        <p> <Icon name='logos:angular' class='h-6 w-6 inline mr-2'/>AngularJS</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Cloud</h3>
        <p><Icon name='logos:google-cloud' class='h-6 w-6 inline mr-2'/>Google Cloud Platform</p>
        <p><Icon name='logos:aws' class='h-6 w-6 inline mr-2'/>Amazon Web Services</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Databases</h3>
        <p><Icon name='logos:mongodb' class='h-6 w-6 inline mr-2'/>MongoDB</p>
        <p><Icon name='logos:postgresql' class='h-6 w-6 inline mr-2'/>PostgreSQL</p>
        <p>SQL Server</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>DevOps</h3>
        <p><Icon name='logos:docker-icon' class='h-6 w-6 inline mr-2'/>Docker + Docker Compose</p>
        <p><Icon name='logos:kubernetes' class='h-6 w-6 inline mr-2'/>Kubernetes</p>
        <p><Icon name='logos:kubernetes' class='h-6 w-6 inline mr-2'/>CI/CD - CircleCI, Github Actions e Cloud Build</p>
        <p><Icon name='logos:terraform-icon' class='h-6 w-6 inline mr-2'/>Terraform</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Misc</h3>
        <p>Metodologia Ágil</p>
      </div>
    </div>
  </div>
</section>
