---
---

<section class='dark:text-white text-black body-font'>
  <div class='container px-5 pt-2 mx-auto'>
    <h2
      class='sm:text-3xl text-2xl font-medium title-font text-center dark:text-white text-purple-500 mb-20'
    >
      Conhecimentos
    </h2>

    <div class='grid grid-cols-1 md:grid-cols-3 gap-2'>
      <div class='dark:bg-white bg-purple-500 rounded p-4 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Backend</h3>
        <p>NodeJS</p>
        <p>Python</p>
        <p>Go</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Frontend</h3>
        <p>React</p>
        <p>Angular</p>
        <p>AngularJS</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Cloud</h3>
        <p>Google Cloud Platform</p>
        <p>Amazon Web Services</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Databases</h3>
        <p>MongoDB</p>
        <p>PostgreSQL</p>
        <p>SQL Server</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>DevOps</h3>
        <p>Docker + Docker Compose</p>
        <p>Kubernetes</p>
        <p>Terraform</p>
      </div>

      <div class='dark:bg-white rounded p-4 bg-purple-500 dark:text-purple-500'>
        <h3 class='font-medium mb-2 text-2xl text-center'>Misc</h3>
        <p>Metodologia Ágil</p>
      </div>
    </div>
  </div>
</section>
